<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleMarketPlaceClient</display-name>
  <welcome-file-list>
    <welcome-file>signup.jsp</welcome-file>
    <welcome-file>signin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>DefaultNamespace.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/DefaultNamespace/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>DefaultNamespace.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/DefaultNamespace/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postAdd</display-name>
    <servlet-name>postAdd</servlet-name>
    <servlet-class>DefaultNamespace.postAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postAdd</servlet-name>
    <url-pattern>/DefaultNamespace/postAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAdd</display-name>
    <servlet-name>viewAdd</servlet-name>
    <servlet-class>DefaultNamespace.viewAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAdd</servlet-name>
    <url-pattern>/DefaultNamespace/viewAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buyProd</display-name>
    <servlet-name>buyProd</servlet-name>
    <servlet-class>DefaultNamespace.buyProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buyProd</servlet-name>
    <url-pattern>/DefaultNamespace/buyProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewUserDetails</display-name>
    <servlet-name>viewUserDetails</servlet-name>
    <servlet-class>DefaultNamespace.viewUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewUserDetails</servlet-name>
    <url-pattern>/DefaultNamespace/viewUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment</display-name>
    <servlet-name>payment</servlet-name>
    <servlet-class>DefaultNamespace.payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/DefaultNamespace/payment</url-pattern>
  </servlet-mapping>
</web-app>